@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root {
  --primary-color: rgb(9,44,98);
  --secondary-color: rgb(234,240,249);
  --linear-footer-gradient: linear-gradient(90deg, rgba(9,44,98,1) 0%, rgba(9,43,97,1) 14%, rgba(8,39,92,1) 26%, rgba(8,34,87,1) 40%, rgba(7,31,83,1) 49%, rgba(7,27,78,1) 58%, rgba(6,26,77,1) 69%, rgba(6,24,75,1) 79%, rgba(6,18,68,1) 88%, rgba(5,15,64,1) 100%);
  --linear-gradient: linear-gradient(90deg, rgba(234,240,249,1) 0%, rgba(234,240,250,1) 14%, rgba(233,240,249,1) 26%, rgba(233,239,249,1) 40%, rgba(232,239,249,1) 49%, rgba(230,238,249,1) 58%, rgba(227,235,248,1) 69%, rgba(226,235,248,1) 79%, rgba(224,233,247,1) 88%, rgba(222,232,247,1) 100%);
  --light-color: #fff;
  --dark-color: #061244;
  --link-color: #66FCED;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*------ Utility Components -----*/

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: var(--max-width);
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto
}

.p-0 {padding: 0.75rem;}
.p-1 {padding: 1.5rem;}
.p-2 {padding: 2rem}
.p-3 {padding: 3rem;}
.p-4 {padding: 4rem;}
.p-5 {padding: 5rem;}

.py-0 {padding: 0.75rem  0;}
.py-1 {padding: 1.5rem  0;}
.py-2 {padding: 2rem  0;}
.py-3 {padding: 3rem  0;}
.py-4 {padding: 4rem  0;}
.py-5 {padding: 5rem  0;}

.px-0 {padding: 0rem 0.75rem;}
.px-1 {padding: 0rem 1.5rem;}
.px-2 {padding: 0rem 2rem;}
.px-3 {padding: 0rem 3rem;}
.px-4 {padding: 0rem 4rem;}
.px-5 {padding: 0rem 5rem;}

.m-0 {margin: 0.75rem;}
.m-1 {margin: 1.5rem;}
.m-2 {margin: 2rem}
.m-3 {margin: 3rem;}
.m-4 {margin: 4rem;}
.m-5 {margin: 5rem;}

.my-0 {margin: 0.75rem  0;}
.my-1 {margin: 1.5rem  0;}
.my-2 {margin: 2rem  0}
.my-3 {margin: 3rem  0;}
.my-4 {margin: 4rem  0;}
.my-5 {margin: 5rem  0;}

.mx-0 {margin: 0rem 0.75rem;}
.mx-1 {margin: 0rem 1.5rem;}
.mx-2 {margin: 0rem 2rem;}
.mx-3 {margin: 0rem 3rem;}
.mx-4 {margin: 0rem 4rem;}
.mx-5 {margin: 0rem 5rem;}

.headerline {
  background: var(--light-color);
  width: 10rem;
  height: .4rem;
}

.bookman {
  width: 55px;
}

.btn-large {
  border-width: medium;
  border-radius: 5px;
  color: var(--linear-footer-gradient);
  background: var(--link-color);
  padding: .8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  display: inline-block!important;
  transition: color 3ms ease-in;
}

.btn-large:hover {
  background:  #B2F6FD;
  text-decoration: none;
}

details{
  text-align: center;
  cursor: pointer;
}
summary {
  font-size: .8rem;
  color:#061244;
}

.page-item.active .page-link {
  z-index: 1;
  color: #061244;
  background: var(--linear-gradient);
  border-color: #B2F6FD; 
}


/* ----- Component Styling -------- */
#site-header {
  background: var(--linear-gradient);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#site-header .container .top-bar {
  padding: .4rem;
}

#site-header .container .top-bar .note {
  text-align: center;
  color: var(--dark-color);
  font-weight: 400;
  font-size: .9rem;
  letter-spacing: 1px;
}

/* ----- Navigation Bar ----- */
#navbar{
  background: #061244;
  position: fixed;
  top: 1.8rem;
  left: 0;
  right: 0;
  z-index: 2;
}

#navbar .container .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem;
}

#navbar .container .nav-items .logo {
  width: 200px;
  padding-left: 1rem;
}

#navbar .container .nav-items .listing {
  display: flex;
}

#navbar .container .nav-items .listing li a{
  padding-right: 1.2rem;
  color: var(--link-color);
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 2ms ease-in;
}

#navbar .container .nav-items .listing li a:hover {
  color: #B2F6FD;
}

/* ----- Showcase section ----- */
#showcase {
  background:url('images/background.jpg') no-repeat center center/cover;
  /* background: var(--linear-gradient); */
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#showcase .container .sport-img {
  width: 720px;
  position: absolute;
  top: 30vh;
  left: 18vh;
}

#showcase .container .showcase-items {
  position: absolute;
  top: 37vh;
  left: 110vh;
}

#showcase .container .showcase-items .caption h1{
  color: var(--light-color);  
  font-size: 2.9rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

#showcase .container .showcase-items .caption h3{
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--light-color);
  font-weight: 400;
  font-size: 1.3rem;
}

#showcase .container .showcase-items .icons .fas{
  margin-top: 1.5rem;
  margin-right: 1.3rem;
  margin-left: .5rem;
  font-size: 2.6rem;
  color: transparent;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: var(--link-color);
}

/* ---- Tips Section ------ */
#tips {
  background: var(--linear-gradient);
  overflow-x: hidden;
}

#tips .tips-wrapper {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  justify-content: center;
}

#tips .container .tips-wrapper .main-content .title {
  border-radius: .4rem;
  border: 1px solid #061244 ;
}

#tips .container .tips-wrapper .main-content .title h2 {
  font-weight: 600;
}

#tips .container .tips-wrapper .main-content .title .fab {
  font-size: 1.6rem;
}

#tips .container .tips-wrapper .main-content .title .small {
  font-size: .8rem;
}

#tips .container .tips-wrapper .main-content .article-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#tips .container .tips-wrapper .main-content .article-wrapper .post {
  background:var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .8rem 1rem;
}

#tips .container .tips-wrapper .main-content .article-wrapper .post .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .3rem;
  
}


#tips .container .tips-wrapper .main-content .article-wrapper .post .top .league,
#tips .container .tips-wrapper .main-content .article-wrapper .post .top .date,
#tips .container .tips-wrapper .main-content .article-wrapper .post .middle .kickoff,
#tips .container .tips-wrapper .main-content .article-wrapper .post .middle .teams,
#tips .container .tips-wrapper .main-content .article-wrapper .post .middle .choice,
#tips .container .tips-wrapper .main-content .article-wrapper .post .bottom .bet-now,
#tips .container .tips-wrapper .main-content .article-wrapper .post .accordion .bet-now {
  font-size: .8rem;
  color: #061244;
  font-weight: 500;
}



#tips .container .tips-wrapper .main-content .article-wrapper .post .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .7rem;
}

#tips .container .tips-wrapper .main-content .article-wrapper .post .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .7rem;
  margin-bottom: .7rem;
}

#tips .container .tips-wrapper .main-content .article-wrapper .post .accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tips .container .tips-wrapper .main-content .main-ad {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------ Why us section ----- */
#why-us {
  background: var(--linear-footer-gradient);
  color: var(--light-color);
  font-size: .9rem;
}

#why-us .container .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1.7rem;
  justify-content: space-evenly;
  align-items: center;
}

#why-us .container .card-wrapper .carded .step {
  color: #fff;
}

#why-us .container .card-wrapper .carded .desc {
  font-size: 4.5rem;
  font-weight: 500;
  padding-left: 1rem;
  color: var(--link-color);
}





