{% extends 'base.html'%}
{% load static %}
{% block title %} | Bookmaker Reviews {% endblock %}
{% block content %}
<!-- Bonuses Section -->
<div id="bookmaker">
  <div class="container">
    <div class="bookie-wrapper py-2">
      {% if affiliates %}
      {% for Affiliate in affiliates %}
      <aside class="left-add">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Vertical Ads -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2806203102997010"
          data-ad-slot="8937002151" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </aside>
      {% endfor %}
      {% else %}
      <aside class="left-add">

      </aside>
      {% endif %}
      <div class="bonus-content mx-2">
        <div class="title">
          <h1 class="p-0">Reviews & Bonuses</h1>
        </div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Horizontal Ad Unit -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2806203102997010"
          data-ad-slot="5077648197" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <div class="article-wrapper">
          {% if bookmakers %}
          {% for Bookmaker in bookmakers %}
          <article class="post ">
            <div class="bookie-brand">
              <div class="bookie-logo">
                <img src="{{Bookmaker.logo.url}}" alt="{{Bookmaker.image_seo}}">
              </div>
              <div class="bookie-name">
                <i class="fas fa-award"></i>
                <i class="fas fa-award"></i>
                <i class="fas fa-award"></i>
                <i class="fas fa-award"></i>
                <i class="fas fa-award"></i>
              </div>
            </div>
            <div class="review">
              <div class="sub-title">
                <h2>{{Bookmaker.review_title}}</h2>
              </div>
              <div class="content">
                <p>{{Bookmaker.review_description}}</p>
              </div>
            </div>
            <div class="claim-bonus">
              <a class="btn-large" href="{{Bookmaker.bonus_link}}}">Claim Bonus</a>
            </div>
          </article>
          {% endfor %}
          {%else%}
          <article class="post">
            <p>Sorry no reviews at the moment</p>
          </article>
          {% endif %}
        </div>
        <div class="main-ad">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Horizontal Ad Unit -->
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2806203102997010"
            data-ad-slot="5077648197" data-ad-format="auto" data-full-width-responsive="true"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
      {% if affiliates %}
      {% for Affiliate in affiliates %}
      <aside class="right-add">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Vertical Ads -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2806203102997010"
          data-ad-slot="8937002151" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </aside>
      {% endfor %}
      {% else %}
      <aside class="left-add">

      </aside>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}