{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Welcome to the Kwacha Bets, here is where your losses change. We provide a daily selection of betting tips from all the major football leagues. We promise Winning football tips & match odds from the best bookies">
  <link rel="shortcut icon" href="{% static 'img/Favicon.ico' %}">
  <title>Kwacha Bets {% block title %} {% endblock %} </title>
  <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome-free-5.13.0-web/css/all.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/bookie.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/contact.css' %}">
  <link rel="preload" as="image" href="{% static 'img/number1.png' %}">
  <link rel="preload" as="image" href="{% static 'img/photo2.jpg' %}">
  <link rel="preload" as="image" href="{% static 'img/ad-large.jpg' %}">
  <link rel="preload" as="image" href="{% static 'img/ads.jpg' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Top bar section -->
  {% include 'partials/_topbar.html' %}

  <!-- Navigation bar section -->
  {% include 'partials/_navbar.html' %}

  <!-- Main content -->
  {% block content %} {% endblock %}

  <!-- Main footer section -->
  {% include 'partials/_footer.html' %}

  <!--- Script Source Files -->
  <script src="{% static 'JS/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
    data-id="kwachabets." data-description="Support me on Buy me a coffee!"
    data-message="To support kwachabets you can but me coffee"
    data-color="#66FCED" data-position="right" data-x_margin="18" data-y_margin="18"></script>
  <script src="{% static 'JS/custom.js' %}"></script>
</body>

</html>